@media (max-width: 850px) {
  .layout {
    grid-template-columns: 1.5fr 2fr;
  }
  .news-item {
    width: 100%;
  }
  .portfolio-item {
    width: 50%;
    padding: 0 1rem;
  }
}

@media (max-width: 650px) {

  .layout {
    grid-template-columns: 1fr;
    grid-template-rows: 3rem auto auto;
  }

  header {
    grid-row: 1 / 2;
  }

  .header__market-cap {
    display: none;
  }

  .news-item {
    width: 100%;
  }

  .currencies-tracked {
    grid-row: 2 / 3;
    height: calc(50vh - 3rem);
    min-height: 250px;
    border-right: 0px;
    border-bottom: 1px solid $color--border1;
  }

  .currency-info {
    grid-row: 3 / 4;
    height: 50vh;
    min-height: 250px;
  }

  .graph-container{
    height: calc(100% - 3rem);
  }

  .graph {
    border-bottom: 0;
  }

  .graph__time-options {
    padding: 0 2rem;
  }

  .news-feed {
    height: 100%;
  }

  .portfolio-feed {
    height: 100%;
  }

  .portfolio {
    height: 100%;
  }

  .portfolio-item {
    width: calc(100% / 3);
    padding: 0 0.5rem;
  }

  .search-module {
    .currency-tile {
      width: 100%;
      &:nth-child(2) {
        margin-top: 0rem;
      }
    }
  }

  .search-module__currencies-list {
    height: 50vh;
    min-height: 100px;
  }
}

@media (max-width: 500px) {
  .portfolio-item {
    width: 50%;
  }
}
