body {
  background: $color--background;
  color: $color--type;
  font-family: 
  'Helvetica Neue',
  Helvetica,
  Arial,
  sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 2fr;
  min-height: 100vh;
}

ul {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

button,
input {
  &:focus {
    outline: none;
  }
}