.graph-container {
  display: block;
  height: 50%;
  border-bottom: 1px solid $color--border1;
}

.graph {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.graph__marker {
  z-index: -1;
  visibility: hidden;
  overflow: visible;
  width: 1px;
  height: 100%;
  position: absolute;
  left: 100px;
  background: linear-gradient(to top, $color--background 0%, $color--type 35%, $color--type 65%, $color--background 100%);
}

.graph__dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: $color--type;
  position: absolute;
  top: calc(50% - 0.25rem);
  left: calc(50% - 0.25rem);
}

.graph__header {
  position: fixed;
  white-space: pre;
  text-align: right;
  transform: translate(1.5rem, -3rem);
  transition: transform 0.3s;
}

canvas {
  width: 100%;
  height: 80%;
}

.graph__time-increment,
.graph__time-options {
  color: rgb(166, 166, 166);
  height: 10%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0 0.75rem;
  align-items: center;
  font-size: 0.8rem;
 }

 .graph__time-options {
   padding: 0 5rem;
   li {
     cursor: pointer;
    }
 }

 .time-option__active {
   font-weight: 500;
   color: $color--type;
 }