.loading-component {
  width: 6rem;
  height: 6rem;
  position: relative;
  top: calc(50% - 3rem);
  margin: 0 auto;
  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    top: calc(50% - 0.5rem);
    left: calc(50% - 0.5rem);
    border-radius: 50%;
    background: $color--type;
    transform: scale(0.5);
  }
  &::before {
    animation: 1s infinite firstLoadingElement;
  }
  &::after {
    animation: 1s infinite secondLoadingElement;
  }
}

@keyframes firstLoadingElement {
  25% {
    left: 50%;
    top: 50%;
    transform: scale(1);
  }
  50% {
    top: calc(50% - 0.5rem);
    left: calc(50% - 0.5rem);
    transform: scale(0.5);
  }
  75% {
    top: calc(50% - 1.5rem);
    left: 50%;
    transform: scale(1);
  }
  100% {
    top: calc(50% - 0.5rem);
    left: calc(50% - 0.5rem);
    transform: scale(0.5);
  }
}

@keyframes secondLoadingElement {
  25% {
    left: calc(50% - 1.5rem);
    top: calc(50% - 1.5rem);
    transform: scale(1);
  }
  50% {
    top: calc(50% - 0.5rem);
    left: calc(50% - 0.5rem);
    transform: scale(0.5);
  }
  75% {
    top: 50%;
    left: calc(50% - 1.5rem);
    transform: scale(1);
  }
  100% {
    top: calc(50% - 0.5rem);
    left: calc(50% - 0.5rem);
    transform: scale(0.5);
  }
}