.login {
  @include flex-center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: $color--background;
}

.login__header {
  font-size: 2rem;
  margin: 0;
}

.login__p {
  font-size: 1rem;
  margin: 2.5rem;
}

.login__button {
  @include button;
  padding: 0 1.5rem;
}