@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button {
  background: none;
  color: $color--type;
  border: 1px solid $color--type;
  height: 1.35rem;
  border-radius: 0.675rem;
  font-size: 0.8rem;
  padding-top: 0.1rem;
  &:hover {
    background: $color--type;
    color: $color--background;
  }
}