.news-feed {
  height: 50%;
  padding: 0 2rem 4rem 2rem;
  overflow: scroll;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  overflow-x: hidden;
}

.news-item {
  width: calc(50% - 1rem);
  margin: 2rem 0 0 0;
}

.news-item__title {
  font-size: 1.4rem;
  margin: 0 0 1rem 0;
}

.news-item__source {
  color: $color--border2;
  font-size: 0.8rem;
  margin: 0 0 1rem 0; 
}

.news-item__link {
  text-decoration: none;
  font-size: 0.8rem;
  color: $color--type;
  &:hover {
    text-decoration: underline;
  }
}