.portfolio {
  height: 50%;
  padding: 0 2rem 0 2rem;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  h2 {
    text-align: center;
    margin: 0;
    font-size: 2rem;
  }
  h3 {
    text-align: center;
    margin: 2rem 0 0.2rem 0;
    font-size: 0.8rem;
    font-weight: 400;
  }
}

.portfolio-feed {
  display: flex;
  flex-flow: row wrap;
}

.portfolio-item {
  text-align: center;
  width: calc(100% / 3);
  padding: 0 1.5rem;
  margin: 2.5rem 0 0 0;
  font-weight: 500;
  span {
    font-size: 0.8rem;
  }
  &:last-of-type {
    margin-bottom: 4.5rem;
  }
}

.portfolio-item__input {
  background: none;
  color: $color--type;
  border: 1px solid $color--type;
  height: 1.35rem;
  border-radius: 0.675rem;
  font-size: 0.8rem;
  padding-top: 0.1rem;
  &:focus {
    background: $color--type;
    color: $color--background;
    border-color: $color--type;
  }
  width: 100%;
  background: none;
  border: 1px solid $color--border1;
  text-align: center;
  margin-top: 1rem;
}

.portfolio__empty-message {
  font-size: 1rem;
  padding: 0;
  margin: 3rem 0;
  width: 100%;
  text-align: center;
  a {
    font-weight: 500;
    color: $color--type;
  }
}