.search-container {
  width: 100%;
  height: 100%;
}

.search-module {
  position: relative;
  background: $color--search;
  .currency-tile {
    width: 50%;
    border-color: $color--border2;
    float: left;
    &:hover {
      background: $color--background-hover-alt;
    }
    &:nth-child(even) {
      border-left: 1px solid $color--border2;
    }
    &:nth-child(1),
    &:nth-child(2) {
      margin-top: 4rem;
    }
    &:last-of-type:not(:nth-child(even)) {
      border-right: 1px solid $color--border2;
    }
  }
}

.search-module__input {
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100%;
  height: 4rem;
  padding: 1.25rem;
  background: $color--background-hover-alt;
  border: none;
  border-bottom: 1px solid $color--border2;
}

.search-module__currencies-list {
  height: calc(100vh - 3rem);
  min-height: 700px;
  overflow: scroll;
  flex-flow: row wrap;
  .currency-tile {
    &:hover {
    .search-module__button {
      display: block;
    }
    }
  }
}

.search-module__button {
  @include button;
  width: 6.5rem;
  display: none;
  margin-top: 1rem;
}