@import "partials/mixins";

@import "partials/setup";
@import "partials/global";

@import "partials/loading";
@import "partials/login";
@import "partials/header";
@import "partials/settings";
@import "partials/currencies";
@import "partials/search";
@import "partials/news";
@import "partials/graph";

@import "partials/breakpoints";