// Blacks
$color--background: rgb(248, 248, 248);
$color--background-hover: rgb(240, 240, 240);
$color--border2: rgb(184, 184, 184);
// Greys
$color--border1: rgb(208, 208, 208);
$color--background-hover-alt: rgb(200, 200, 200);
$color--search: rgb(216, 216, 216);
// Whites
$color--type: rgb(18, 18, 18);