// Blacks
$color--background: rgb(8, 8, 8);
$color--background-hover: rgb(16, 16, 16);
$color--border1: rgb(24, 24, 24);

// Greys
$color--border2: rgb(96, 96, 96);
$color--background-hover-alt: rgb(88, 88, 88);
$color--search: rgb(56, 56, 56);

// Whites
$color--type: rgb(239, 239, 239);