// Blacks
$color--background: rgb(18, 18, 18);
$color--background-hover: rgb(24, 24, 24);
$color--border1: rgb(74, 74, 74);

// Greys
$color--border2: rgb(96, 96, 96);
$color--background-hover-alt: rgb(88, 88, 88);
$color--search: rgb(56, 56, 56);

// Whites
$color--type: rgb(224, 224, 224);